.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}

.clear-fix:after {
  clear: both;
}
*, *::after, *::before {
  box-sizing: border-box;
}

.card{
  height: 15vmin;
  width: 11vmin;
  justify-content: space-between;
}
#dealer-hand, #player-hand{
  flex-direction: row;
}

#stand{
  display: none;
}

#game-board{
  display: flex;
  height: 60vmax;
  width: 100vmax;
  border: 5px solid green;
}
body{
  background-color: forestgreen;
  align-items: center;
  font-family: 'PressStart2PRegular';
  color: gold;
}
h2{
  display: flex;
  margin-bottom: 20px;
}
