.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}

.clear-fix:after {
  clear: both;
}
*, *::after, *::before {
  box-sizing: border-box;
}
body{
  background-color: forestgreen;
  font-family: 'Roboto Slab';
  color: gold;
  font-size: 2vmin;
}
h2{
  display: flex;
  margin-bottom: 20px;
}
h1{
  font-family: 'Bungee Shade';
  font-size: 55px;
  color: black;
}
.card{
  height: 15vmin;
  width: 11vmin;
  margin-left: 25px;
  justify-content: space-around;
}
#dealer-hand, #player-hand{
  flex-direction: row;
  justify-content: center;
}
#stay{
  display: none;
}
#game-table{
  display: flex;
  height: 60vmin;
  width: 100vmin;
  flex-direction: column;
}
